<p id="notice"><%= notice %></p>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="ValidarInicioSesion.js"></script>
    <title>Centro Comercial MegaCity</title>
</head>

<body>
    <header>
        <div class="row">
            <div class="large-2 columns">
                <h1>MegaCity</h1>
            </div>

            <div class="large-2 columns correo">
                <p>Correo Electronico</p>
            </div>

            <div class="large-2 columns text_mail">
                <input type="email" name="user_mail" id="mail">
            </div>

            <div class="large-2 columns contra">
                <p>Contraseña</p>
            </div>

            <div class="large-2 columns text_contra pass">
                <input type="password" name="user_password" id="password">
            </div>

            <div class="large-1 columns btn">
                <a href="about.html" class="button">Log In</a>
            </div>
        </div>
    </header>
    
    <%= form_tag({:controller => "usuario", :action => "sesion"}, :method => "post") do %>

    <%= label_tag "nombre", "nombre de usuario" %>
    <%= text_field_tag "nombre", "", :size => 5, :maxlenght => 5, :placeholder => "nombre", :required => "required" %>

    <%= label_tag "contrasena", "contrasena de usuario" %>
    <%= text_field_tag "contrasena", "", :size => 5, :maxlenght => 5, :placeholder => "contrasena", :required => "required" %>
    <br />
    <%= submit_tag "Enviar" %>
    <% end %>

</body>

